/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
}   

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* article styling */

article {
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    padding: 1rem;
    background-color: #f9f9f9;
}

.article h2 {
    margin-bottom: 0.5rem;
}

.comments {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: rgb(155, 155, 155);
}
